################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Vroom.Backend/.vs/Vroom.Backend
/.vs
